
@model StudentCreateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="AddStudent" asp-controller="Student" method="POST" class="mt-4">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentNameAr"> الاسم العربي:</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Student.NameAr" class="form-control" required>
            <span class="text-danger" asp-validation-for="Student.NameAr"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentNameEn"> الاسم الانجليزي:</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Student.NameEn" class="form-control" required>
            <span class="text-danger" asp-validation-for="Student.NameEn"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentAge">العمر:</label>
        <div class="col-sm-9">
            <input type="number" asp-for="Student.Age" class="form-control" required>
            <span class="text-danger" asp-validation-for="Student.Age"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentAddress"> العنوان :</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Student.Address" class="form-control" required>
            <span class="text-danger" asp-validation-for="Student.Address"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentDepartmentName"> اسم القسم :</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Student.DepartmentName" class="form-control" required>
            <span class="text-danger" asp-validation-for="Student.DepartmentName"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right" for="studentDepartment">القسم:</label>
        <div class="col-sm-9">
            <select asp-for="Student.DID" class="form-control" required>
                <option value="">اختر صنف المنشور</option>
                @foreach (var item in Model.getListDepartment)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="Student.DID"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary btn-lg">إضافة</button>
        </div>
    </div>
</form>
