
@model StudentCreateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Edit" asp-controller="Student" method="POST">
    <input type="hidden" asp-for="Student.StudID" name="Student.Id" />
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <div>
        <label for="departmentNameAr">الاسم:</label>
        <input type="text" asp-for="Student.NameAr" required>
        <span class="text-danger" asp-validation-for="Student.NameAr"></span>

    </div>
    <div>
        <label for="departmentNameEn"> الاسم الانجليزي:</label>
        <input type="text" asp-for="Student.NameEn" required>
        <span class="text-danger" asp-validation-for="Student.NameEn"></span>

    </div>

    <div>
        <label for="departmentAddress"> العنوان :</label>
        <input type="text" asp-for="Student.Address" required>
        <span class="text-danger" asp-validation-for="Student.Address"></span>

    </div>
    @*<div>
        <label for="departmentName">العمر:</label>
        <input type="number" asp-for="Student.Age" required>
        <span class="text-danger" asp-validation-for="Student.Age"></span>
    </div>*@
    <div>
        <label for="departmentLocation">القسم:</label>
        <select asp-for="Student.DID" class="form-control" required>
            <option selected="selected" value="0">اختر صنف المنشور</option>
            @foreach (var item in Model.getListDepartment)
            {
                <option value="@item.DID">@item.DNameAr</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Student.DID"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-success btn-rounded btn-lg btn-block">إضافة</button>
    </div>
</form>

